.App{
  min-height: 100vh;
  background-image: linear-gradient(to right, #f83600 0%, #f9d423 100%);
}

.search-form{
  min-height:10mv;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar{
  width: 50%;
  padding: 10px;
}

.search-button{
  background: #f83600;
  padding: 10px 20px;
  color: black;
}

.recipes{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
